<div class="container">
    <div class="topRow">
        <div class="headPlate">Monster Game Madness</div>
    </div>
    <div class="contentRow"> 
        <div class="menu1"></div>
        <div class="monster1">
            <mg-monster [monster]='monster1'></mg-monster>
        </div>
        <div class="monster2"></div>
        <div class="menu2"></div>
    </div>
    <div class="bottomRow"></div>
</div>

<!-- 
<div class="heading">Monster Game</div>
<hr />
<table>
    <tr>
        <td></td>
        <td><mg-monster [monster]='monster2'></mg-monster></td>
        
    </tr>
</table> -->
