<div class="monsterContainer">
  <div class="mgImage" [style.backgroundImage]="'url(' + monster?.avatarUrl + ')'"></div>
  <div class="mgStats" >
    <div *ngIf="monster">
      Name: {{monster.name}}<br>
      Vitality: {{monster.vitality}}<br /> 
      Stamina:  {{monster.stamina}}<br />
      Strength: {{monster.strength}}
    </div>
  </div>
  <div class="mgFooter">
    <div class="controls">
      <div class="control"></div>
      <div class="control"></div>
      <div class="control"></div>
      <div class="control"></div>
      <div class="control"></div>
    </div>
  </div>
</div>
