/* You can add global styles to this file, and also import other style files */
body {
    background: url('/assets/images/Dungeon_Background_44.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Verdana;
    color:white;
}   

.contentHeading {
    font-size: 3em;
    font-family: Tahoma;
    color: goldenrod;
    text-align:center
}

.contentBody {
    padding-left: 4em;
    padding-right:4em;
    overflow-y: scroll;
    text-align:center;
}